button {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 16px;
  border-style: none;
  height: 70px;
  width: 70px;
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
}

button:hover {
  opacity: 1;
}

div {
  display: flex;
  height: 91%;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.overlay {
  opacity: 0.3;
  filter: blur(5px);
  overflow: hidden;
  background-color: gray;
}

header {
  background-color: black;
  display: flex;
  height: 8%;
  min-height: 35px;
  justify-content: center;
  align-items: center;
}
