<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img
          class="v-center-block logo-small angular-university-logo"
          src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
          data-pin-nopin="true"
        />
      </a>
    </li>
    <li>
      <a>Modal</a>
    </li>
  </ul>
</header>

<body>
  <div class="container">
    <h1>Modal Examples</h1>

    <ng-template #templateBody>
      <dmd-tab-panel id="tab-panel" #tabPanel>
        <dmd-tab #tablogin title="Login" class="login-email">
          <form>
            <div class="form-field">
              <dmd-fa-input title="Email" icon="envelope">
                <input type="email" placeholder="Email" autocomplete="off" />
              </dmd-fa-input>
            </div>
            <div class="form-field">
              <dmd-fa-input title="Password" icon="lock">
                <input type="password" placeholder="Password" />
              </dmd-fa-input>
            </div>
          </form>
        </dmd-tab>

        <dmd-tab #tabsingup title="Sign Up">
          <form>
            <div class="form-field">
              <dmd-fa-input title="Email" icon="envelope">
                <input type="email" placeholder="Email" autocomplete="off" />
              </dmd-fa-input>
            </div>
            <div class="form-field">
              <dmd-fa-input title="Password" icon="lock">
                <input type="password" placeholder="Password" />
              </dmd-fa-input>
            </div>
            <div class="form-field">
              <dmd-fa-input title="Confirm Password" icon="lock">
                <input type="password" placeholder="Confirm Password" />
              </dmd-fa-input>
            </div>
          </form>
        </dmd-tab>
      </dmd-tab-panel>
    </ng-template>

    <ng-template [dmdModalOpenClick]="[loginButton, signUpButton]">
      <dmd-modal class="auth-modal" [body]="templateBody"> </dmd-modal>
    </ng-template>

    <div class="modal-buttons">
      <button #loginButton>Login</button>

      <button #signUpButton>Sign Up</button>
    </div>
  </div>
</body>
