:host {
  border-radius: 15px;
  display: block;
  margin: 10px;
  min-width: 340px;
  max-width: 30%;
  width: calc(100% - 0.3rem);
  background-color: rgba(24, 24, 24, 0.82);
  padding: 15px 10px;
}

div {
  display: grid;
  color: white;
  grid-template-columns: 1fr 2.5fr;
  min-height: 300px;
  max-height: 400px;
}

aside {
  background-color: #181818;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside rnx-player {
  max-width: 100px;
}

button {
  display: block;
}

h3 {
  margin-top: 7px;
  margin-left: 20px;
}

section {
  overflow-y: auto;
}

section .player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section .player-container rnx-player {
  max-width: 33%;
  margin-right: 3px;
  margin-bottom: 3px;
}
