:host {
  display: inline-block;
  margin: 10px;
  max-width: 490px;
  width: calc(100% - 0.3rem);
  background-color: blue;
  color: white;
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
}

rnx-player {
  min-width: 10%;
  max-width: 30%;
}

section {
  background-color: lime;
  display: flex;
  max-height: 550px;
  flex-wrap: wrap;
}
