<p>side</p>
<section>
  <rnx-player></rnx-player>
  <rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player> <rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player><rnx-player></rnx-player><rnx-player></rnx-player
  ><rnx-player></rnx-player>
</section>
